<nav class="px-4 py-2 bg-gray-300 sticky top-0 w-full z-50">
	<ul class="flex items-center">
		<li class="ml-4 font-bold">
			<a href="/" class="text-2xl"><i class="fa-solid fa-compass"></i></a>
		</li>
		<li class="ml-4 font-bold">
			<a href="/">Home</a>
		</li>
		<li class="ml-4 font-bold">
			<a href="/listings">All Listings</a>
		</li>
		<li class="ml-4 font-bold">
			<a href="/listings/new">Add Listings</a>
		</li>
	</ul>
</nav>