<%= layout("/layouts/boilerplate.ejs") %>

	<body>
		<div class="flex justify-center w-full">
			<form class="form" action="/listings" method="post">
				<p class="title">Create New Listing </p>
				<label>
					<input class="input" type="text" name="listing[title]" required>
					<span>Enter Title</span>
				</label>

				<label>
					<textarea class="input" name="listing[description]" id="" cols="10" rows="2" required></textarea>
					<span>Description</span>
				</label>

				<label>
					<input class="input" type="text" name="listing[image]" >
					<span>Image Url</span>
				</label>

				<label>
					<input type="number" class="input" name="listing[price]" required>
					<span>Price</span>
				</label>
				<label>
					<input type="text" class="input" name="listing[location]" required>
					<span>Location</span>
				</label>
				<label>
					<input type="text" class="input" name="listing[country]" required>
					<span>Country</span>
				</label>
				<button class="submit">Add</button>
			</form>
		</div>
	</body>